div,html,body,h1,h2{
	margin: 0;
	padding: 0;
}


.theSquare{
	position: fixed;
	top:0;
	left:0;
	width: 2vmax;
	height: 2vmax;
	display: none;
	background-color: orangered;
	transition-duration: 500ms;
	transition-property: transform;
	transition-timing-function: linear;
	z-index: 9999999999;
	border-radius: 100%;
}


.squareAnimEnter .theSquare{
	display: block;
	transform: scale(1.5) ;

}
.squareAnimEnterActive .theSquare{
	transform: scale(0.00);
	
	display: block;
	
	
	
}
.squareAnimEnterDone .theSquare{
	/* display: none; */
	
}

.squareAnimExit .theSquare{
	display: block;
	transform: scale(0) ;
}
.squareAnimExitActive .theSquare{
	transform: scale(1.5) ;
	/* transition-duration: 100ms; */
	display: block;
}
.squareAnimExitDone.theSquare{
	/* display: block; */
}