.blogListPostContainer{
	padding: 3rem;
	/* background-color: rgb(166, 150, 223); */
	margin:0 5vw;
	border-style: solid;
	border-width: 0 0 0.1rem 0;
	/* border-color: rgb(93, 219, 141); */
	/* padding: 3rem 0;
	margin: -3rem 0;
	background-image: radial-gradient( circle at 0%, rgb(248, 248, 248),rgb(211, 30, 30));
	clip-path:polygon(
	0% 3rem,
	70% calc(0% + 0rem),
	100% 3rem,
	100% 100%,

	70% calc(100% - 3rem),

	0% 100%,
	0% 0%
	
	
	)
 */
	
}
.blogListPostContainer:nth-child(2n){
	/* border-color: rgb(103, 145, 223); */
	/* background-image: radial-gradient( circle at 0%, rgb(248, 248, 248),rgb(30, 72, 211));
	 */
	 /* background-color: rgb(51, 116, 214); */
}

.blogListPostContainer:last-child{
	border-width: 0;
}
.blogListHeading{
	text-align: center;
	font-size: 3rem;
	font-weight: normal;

}

a.blogListHeadingLink{
	
	padding: 1rem;
	display: inline-block;
	background-color:rgb(0,0,0,1);
	text-decoration: none;
	color:rgb(0, 0, 0,0);
	background-clip: text;
	font-family: 'Blackout Midnight';
	/* font-family: "Raleway";
	font-weight: 200;
	font-variant-caps:small-caps; */
	
	--blogpost-link-background: conic-gradient( from 180deg at 50% 50%,rgb(0,0,255) , rgb(0, 255, 255), rgb(255,0,255),rgb(0,0,255) , rgb(0, 255, 255), rgb(255,0,255) ,rgb(0,0,255) );
	/* background-image:linear-gradient(rgb(0,0,0) ,rgb(0, 0, 0) ) ,var(--blogpost-link-background) ;
	background-size: 100% 100%, 100% 100%;
	background-repeat: no-repeat;
	background-position: 0% 50%; */
	background-image: var(--blogpost-link-background);
	transition-property: background , transform ,text-shadow;
	text-shadow: rgb(0,0,0,1) 0 0 0,rgb(0,0,0,1) 0 0 0,rgb(0,0,0,1) 0 0 0;
	transition-duration: 0.5s;
}

a.blogListHeadingLink:hover{
	background-color:rgb(0,0,0,1);
	/* background-size: 0% 100%, 100% 100%; */
	text-shadow: rgb(0,255,255,1) 0em -1em 3rem,rgb(255,0,255,1) 0.5em -1.5em 3rem,rgb(0,0,255,1) -0.5em -2em 3rem;
	transform:scale(1.1);
}
