.header{
	/* position: fixed;
	left:0;
	top: 0; */
	padding: 3rem 0 3rem 0;
	display: grid;
	font-size: min(2.5rem, 4.5vw );
	/* font-size: 8vw; */
	/* justify-content: space-around; */
	width:100%;
	box-sizing:border-box;
	/* padding: 1rem; */
	background-color: white;;
	font-family:'Raleway';
	font-weight: 200;
	/* font-family:'Orbitron';
	font-weight: 400; */
	/* font-family:'Major Mono Display';
	 */
	
	/* figure out if there is a better way to do this */
	grid-template-columns: repeat(auto-fit,minmax(1px,1fr));
}

/* .headerMenu{
	
	display: flex;
	justify-content:space-evenly;
	width:50%;
} */
.header a{
	
	padding: 0.5em;
	text-decoration: none;
	/* color: rgb(255,255,255);
	background-color: black; */
	color: rgb(0,0,0);
	transition-duration: 0.5s;
	transition-property: background-color, color, transform, box-shadow,border;
	box-shadow:rgb(0, 0, 0) 0 0 0 0 ,rgb(0, 0, 0) 0 0 0 0;
	box-shadow:rgb(0, 0, 0) 0 0 0 0;
	/* background-color: blue; */
	border-color: rgb(0,0,0,0);
	border-style: solid;
	margin:0 auto;
	border-width: 0.01em;
}

a.headerHomeLink{
	color:rgb(255, 0, 0);
	background-color: rgb(0, 0, 0);
	border-bottom-color: rgb(255, 0, 0);
	border-style: solid;

	border-width: 0 0 0.26em 0;
	padding-bottom: 0.25em;
	

}
.header a:hover{
	/* color:rgb(255,255,255);
	background-color: rgb(0, 0, 0); */
	border-color: rgb(0, 0, 0,1);
	transform:scale(1.1);
	box-shadow: rgb(0, 38, 255) 0.5em 0.5em 0 0;
	box-shadow: rgb(255, 0, 0) 0.25em 0.25em 0 0 ,rgb(0, 0, 0) 0.5em 0.5em 0 0;
	box-shadow: rgb(0, 0, 0) 0.5em 0.5em 0.5em 0;
}
a.headerHomeLink:hover{
	/* box-shadow: rgb(0, 38, 255) 0.5em 0.5em 0 0;
	box-shadow: rgb(0, 38, 255) 0.25em 0.25em 0 0 ,rgb(0, 0, 0) 0.5em 0.5em 0 0; */
	/* box-shadow: rgb(150, 0, 0) 0em 0em 0.5em 0;
	box-shadow: rgb(0, 0, 0) 0em 0em 0.5em 0; */
	border-bottom-color: rgb(255, 0, 0);
}


/* 
.hamburger{
	font-size: 1rem;
	border:0;
	padding: 0;
	margin: 0;
	outline: 0;
	line-height: 1rem;
	background-color:black;
	color: red;
}

.hamburgerLinkList{
	display: none;
	position: fixed;
	left: 5rem;
	text-align: center;
	top:5rem;
	background-color: black;
	height: calc(100% - 10rem);
	width: calc(100% - 10rem);
	margin-top:0;
	overflow-y: auto;
	overflow-x: auto;
	grid-auto-rows: 1fr;
	grid-template-columns:1fr ;

	align-items:center;


	

}

.hamburgerLinkListEnter,.hamburgerLinkListEnterDone,.hamburgerLinkListExit{
	display: grid;
}
.hamburgerLinkListEnter{
	
	transform:  rotateZ(0deg)  scaleX(0.05) scaleY(0.05);
	opacity: 0;
	
}
.hamburgerLinkListEnterActive{
	
	transform:  rotateZ(0deg) scaleX(1) scaleY(1);
	opacity: 1;
	transition-property: transform,opacity;
	transition-timing-function: linear;
	transition-duration: 500ms;
}

.hamburgerLinkListExit{
	transform: rotateZ(0deg) scaleX(1) scaleY(1);
	opacity: 1;
	
}
.hamburgerLinkListExitActive{
	transform:  rotateZ(0deg) scaleX(0.05) scaleY(0.05);
	
	opacity: 0;
	transition-property: transform,opacity;
	transition-duration: 500ms;
	transition-timing-function: linear;
	
}
.hamburgerLinkList a{
display: block;
color: red;
padding: 3rem;

font-size: 3rem;
} */
