.blogListPostDate{
	text-decoration: none;
	color:rgb(0,0,0);
	text-align: center;
	font-family: 'Orbitron';
}

.blogParagraph{
	max-width:50rem;
	padding:1rem 1rem;
	margin:0 auto;
	font-family:sans-serif;
	line-height:1.5em;
}
.codeBlockButton{
	background-color:rgb(0,250,150);
	color:rgb(20,20,20);
	font-size:1rem;
	font-family:Orbitron;
	padding:0.5rem;
	border:none;
	transition: background-color 0.5s;
	display: inline-block;
}
.codeBlockButtonMessage{
	
	width:calc( 100% - 4rem);
	font-size:1rem;
	font-family:Orbitron;
	padding: 2rem;
	text-align: center;
	position:fixed;
	top:0;
	left: 0;
	color:rgb(0,250,150);
	background-color:rgb(20,20,20) ;
	

	
} 
.codeBlockButton:hover{
	background-color:rgb(20,10,250);
	color:rgb(20,250,20);
}
.codeBlockButton:active{
	background-color:rgb(200,20,50);
}
.codeBlockContainer{
	counter-reset: codeLineNumberCounter;
	/* display: grid; */
	
}
.codeBlockCodeLine{
	padding: 0;
	margin: 0;
	font-size: 1rem;
	display: flex;
	white-space:pre-wrap;
	transition: background 0.5s;
}

.codeBlockCodeLineHighlight{	
	background-color: rgb(70,35,70);
}
.codeBlockCodeLine:hover{
	background-color: rgb(100,50,100);
}
.codeBlockCodeLine::before{
	font-family: monospace;
	counter-increment: codeLineNumberCounter;
	content:counter(codeLineNumberCounter);
	background-color: rgb(40,20,40);
	min-width:var(--lineNumberWidth);
	display: inline-block;
	font-size: 1rem;
	color:rgb(200,200,200);
	padding:0 1ch;
	transition: background 0.5s, color 0.5s;
}
.codeBlockCodeLineHighlight::before{
	background-color:rgb(60,30,60);
	
}
.codeBlockCodeLine:hover::before{
	background-color:rgb(200,200,200);
	color:rgb(20,20,20);
	
}

.blogHeading{
	font-family: 'Blackout Midnight';
	/* text-align: center; */
	font-size: calc( ( 0.1 * ( 6 - var(--headingLevel) )* ( 6 - var(--headingLevel) ) ) * 2vmin + 2rem);
	margin:3rem auto;
	padding: 0.5em 0.5em 0.25em 0.5em;
	border-style:solid;
	font-weight: normal;
	border-radius:calc(2rem - var(--headingLevel) * 0.2rem);
	border-radius: 0.25em 0.25em 0.25em 0.25em;
	border-width:0 0em 0.25em 0em;
	width: max-content;
	max-width: calc(93vw);
	/* height: 1em;
	height: max-content; */
	display: block;
	box-sizing: border-box;
	
	color:hsl(calc( var(--headingLevel) * 20deg + 90deg) , 100%,70%);
	border-color:black hsl(calc( var(--headingLevel) * 15deg - 15deg) , 80%,50%) hsl(calc( (0 + var(--headingLevel)) * -60deg - 15deg) , 100%,50%) hsl(calc( var(--headingLevel) * -50deg - 15deg) , 80%,50%);
	background-color: rgb(20,20,20);
	text-align: center;
	/* text-align:center; */
	/* justify-content: center;
	display: flex;
	flex-wrap: wrap; */
	
	
}
.blogHeading::before{
	content: ' > ';
	color:hsl(calc( var(--headingLevel) * 60deg - 20deg) , 100%,70%);;
	/* color:rgb(calc( 255 / var(--headingLevel) ),
		calc(  + (120 / 6) *  var(--headingLevel)   ),
		calc( var(--headingLevel) * (255/6) )
	); */
	color:hsl(calc( var(--headingLevel) * 200deg - 200deg) , 100%,60%);
}
.xblogHeading::after{
	background-image:conic-gradient(from 45deg, hsl(calc( var(--headingLevel) * 60deg - 80deg) , 100%,50%) ,  hsl(calc( var(--headingLevel) * 60deg  - 80deg +  180deg) , 100%,50%) );
	/* content:' < '; */
	content: '';
	/* width: 0%;
	 */
	 height: 0.7em;
	/* line-height: 0; */
	 width: 0.7em;
	 vertical-align: middle;
	/* margin: 0 auto 0 auto ; */
	margin:0 0.25em;
	/* float:right; */
	border-radius: 50%;
	display: inline-block;
	/* float:right; */
	/* display: block; */
	/* display:table-row; */
	/* height: 0.2em;
	margin: 0.4em 0em 0.4em 0.2em; */
	/* flex-shrink: 1; */
	/* flex-basis: 1vw; */
	/* flex-grow: 90000; */
	animation-name: blogHeadingEndBall;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes blogHeadingEndBall {
	0%{
		transform: scale(0.9) rotate(0deg);
	}
	50%{
		transform: scale(1) rotate(180deg);
	}
	100%{
		transform: scale(0.9)  rotate(360deg);
	}
}
/* h1.blogHeading{
	color: rgb(50,150,100);
} */

.blogBlockQuote{
	/* background-image: linear-gradient(45deg, rgb(200,200,200), rgb(200,200,200)); */
	/* color:rgb(200,200,200); */
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 4rem auto;
	max-width:50rem ;
	display: grid;
	grid-template-columns: 1rem 1fr;
	border-radius:1rem;
	box-shadow: 0.5rem 0.5rem 2rem 2rem rgb(20,20,20) , inset  0 0 0.1rem 0.1rem rgb(20,20,20);
}
.blogBlockQuote::before{
	width: 100%;
	height: 100%;
	display: block;
	content:' ';
	background-image: linear-gradient(60deg, rgb(0,250,200),  rgb(200,0,250));
	
	grid-row: 1 / 999999999999999999999999999 ;
	grid-column: 1 ;
	border-radius: 1rem 0 0 1rem;
	filter: blur(0.2rem);
}
.blogBlockQuote .blogParagraph{
	margin-left: 0;
	margin-right: 0;
}

@property --colorA{
	syntax:'<color>';
	inherits:false;
	initial-value:rgb(255,0,0);
}
@property --colorB{
	syntax:'<color>';
	inherits:false;
	initial-value:rgb(255,0,0);
}
@property --colorC{
	syntax:'<color>';
	inherits:false;
	initial-value:rgb(255,0,0);
}

.blogHorizontalLine{
	width:80%;
	margin:2rem auto;
	border-width: 0;
	height: 3rem;
	padding: 0;
	--spinRotation:0deg;
	--colorA:rgb(100,50,100);
		--colorB:rgb(0,250,150);
		--colorC:rgb(200,0,250);
	background-image: linear-gradient( 45deg, rgb(100,50,100),rgb(0,250,150),rgb(200,0,250));
	background-image: linear-gradient(45deg, var(--colorA),var(--colorB),var(--colorC));
	border-radius: 1.5rem;
	animation-name: horizontalLineAnim;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	filter: blur(0.3rem);

}

@keyframes horizontalLineAnim{
	/* 0%{
		
		--colorA:rgb(255, 94, 0);
		--colorB:rgb(255, 0, 0);
		--colorC:rgb(238, 255, 0);
	}
	 50%{
	
		--colorA:rgb(247, 242, 0);
		--colorB:rgb(255, 136, 0);
		--colorC:rgb(255, 0, 0);
	} 
	100%{
		--colorA:rgb(255,94,0);
		--colorB:rgb(255, 0, 0);
		--colorC:rgb(238, 255, 0);
	} */
	0%{
		
		--colorA:rgb(100,50,100);
		--colorB:rgb(0,250,150);
		--colorC:rgb(200,0,250);
	}
	 50%{
	
		--colorA:rgb(200,0,250);
		--colorB:rgb(100,50,100);
		--colorC:rgb(0,250,150);
	} 
	100%{
		--colorA:rgb(100,50,100);
		--colorB:rgb(0,250,150);
		--colorC:rgb(200,0,250);
	}
}

.blogImage{
	width:100%;
	height: auto;
	max-width: 100vw;
	max-height: 100vh;
	background-color: rgb(0,0,0,0);
	margin: 0 auto;
	display: block;
	cursor:zoom-in;
	object-fit: contain;
	transition: background-color 1s;
	transform-origin: bottom center;

	
}
.blogImage:hover:not(.blogImageBig){
	
	animation-name: blogImageClickMe;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes blogImageClickMe {
	0%{
		transform:scale(1) translateY(0);
	}
	50%{
		transform:scale(1.1) ;
	}
	100%{
		transform:scale(1) translateY(0);
	}
	
}
.blogImageBig{
	width:100%;
	position: fixed;
	height: 100%;
	top:0;
	left:0;
	
	cursor:zoom-out;
	background-color: rgb(0,0,0,0.5);
}